@import "tailwindcss";

:root {
  /* Dark-only palette */
  --background: #020617; /* slate-950 */
  --foreground: #e5e7eb; /* slate-200 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
